######################
# Entando
######################

.entando

######################
# Build folders
######################

**/node_modules
**/target
**/build
**/__pycache__/
**/.venv

######################
# IntelliJ IDEA
######################

.idea
*.iws
*.iml
*.ipr

######################
# Keycloak DB files
######################

/svc/keycloak/keycloak-db/*


######################
# Files to keep
######################

!.gitkeep
